* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #12071f, #2f204e);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1536px;
  padding-inline: 16px;
  margin-inline: auto;
  background: rgb(30, 9, 112);
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

section:nth-child(1) {
  background-color: #600fbd;
}

section:nth-child(2) {
  background-color: #12bd0f;
}

section:nth-child(3) {
  background-color: #2b3108;
}

section:nth-child(4) {
  background-color: #bd380f;
}

/* smaller screens */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* medium */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* large */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* extra large */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
